body {
    font-family: Arial, sans-serif;
    background-color: #353537;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height instead of height */
}

.container {
    background-color: #090909;
    padding: 20px;
    width: 90%; /* Adjust width as necessary */
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row; /* Display form and cards side by side */
    justify-content: space-between; /* Space between form and cards */
    align-items: flex-start;
}

h1 {
    margin-bottom: 20px;
    color: #f6f6f6;
}

.form-container {
    width: 45%; /* Adjust width as necessary */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f6f6f6;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    color: #f6f6f6;
    background-color: #313436;
    border: 1px solid #363333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between cards */
    width: 50%; /* Adjust width as necessary */
    z-index: 1;
    
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 48%; /* Adjust card width as necessary */
    transition: transform 0.2s;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.card-text {
    margin: 0 0 16px;
    font-size: 1em;
    color: #333;
}

.card-button {
    display: inline-block;
    padding: 10px 16px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card-button:hover {
    background-color: #0056b3;
}
